* {
    box-sizing: border-box;
    margin: 0;
}
span, a, label {
    display: inline-block;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.big{
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 150px;
}
.buton{
    margin: 30px;
    background-color: blue;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    padding: 30px;
    text-transform:uppercase ;
    transition: 0.2s all linear;
    position: relative;
    z-index: 1;
}
.buton:hover{
    color: black;
    background-color: white;
}
.aa{
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 0;
    background-color: white;
    transition: 0.2s all linear;
    top: 0;
    left: 0;
}
.aa1{
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 0;
    background-color: rgb(76, 233, 61);
    transition: 0.2s all linear;
    bottom: 0;
    right: 0;
}
.aaa{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: rgb(76, 233, 61);
    transition: 0.2s all linear;
    top: 0;
    left: 0;
}
.aab{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: rgb(194, 240, 68);
    transition: 0.2s all linear;
    bottom: 0;
    right: 0;
}
.aac{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: rgb(223, 50, 179);
    transition: 0.2s all linear;
    right: 0;
    top: 0;
}
.aad{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: rgb(119, 21, 175);
    transition: 0.2s all linear;
    right: 0;
    top: 0;
}
.buton:hover .aad {
    height: 60%;
    margin-top: 20px;
}
.aal{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: rgb(55, 233, 233);
    transition: 0.2s all linear;
    right: 0;
    top: 0;
}
.buton:hover .aal {
    height: 100%;
    width: 80%;
    left: 20px;

}
.buton:hover .aac {
    height: 100%;
}
.buton:hover .aab {
    height: 100%;
}
.buton:hover .aaa {
    height: 100%;
}
.buton:hover .aa {
    height: 100%;
}
.buton:hover .aa1 {
    height: 100%;
}
